@font-face {
  font-family: 'OfficeTimes';
  src: url('OfficeTimesRound-RoundMono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OfficeTimes', serif;
  font-size: 16px;
  margin: 2rem auto;
  max-width: 700px;
  line-height: 1.6;
  color: #fffaee;
  background-color: #000; 
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  max-width: 700px;   /* Keeps the form nicely centered on large screens */
  width: 100%;
  margin: 0 auto;     /* Center horizontally */
  padding: 0 3rem;    /* Default side padding */
}

label {
  display: block;     /* Put label above input */
  margin-bottom: 1rem;
  font-weight: bold;  /* Keeps NAME / LOCATION bold */
}

input, textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box; /* prevents overflow */
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #33312d;
  border-radius: 2px;
  font-family: 'OfficeTimes', serif;
  font-size: 1rem;
  color: #fffaee;
  background-color: #000;
  resize: vertical;
}

@media (max-width: 600px) {
  form {
    padding: 0 2rem;
  }
}

button {
  padding: 0.6rem 1.2rem;
  background: #fffaee;
  color: black;
  font-family: 'OfficeTimes', serif;
  border: 1px solid #e1dbc9;
  border-radius: 50px;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
